.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-color: $background-color;
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    height: 4rem;

    .project-name {
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 700;
      color: $text-color;

      &:hover {
        text-decoration: none;
      }
    }

    .navigation-links {
      align-items: baseline;
      display: none;
      @media(min-width: 768px){
        display: flex;
      }

      .navigation-link {
        text-decoration: none;
        color: $text-color;
        padding: 0.5rem 0.75rem;
        border-radius: 0.375rem;
        transition: background-color $transition-speed;

        &:hover {
          background-color: $secondary-color;
        }

        &.active {
          background-color: $primary-color;

          &:hover {
            background-color: $primary-color-hover;
          }
        }
      }
    }

    .github-link {

    }
  }

  .github-link {
    padding: 0.5rem;
    border-radius: 9999px;
    color: $light-text-color;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      color: $text-color;
      background-color: $card-background-color;
    }

    svg {
      height: 1.5rem;
      width: 1.5rem;
    }

  }
}

.footer {
  background-color: $card-background-color;
  margin-top: 3rem;
  padding: 1rem 0;
  text-align: center;
  color: $light-text-color;
  font-size: 0.875rem;
}
