// Variables

// Colors
$primary-color: #7C3AED;
$primary-color-hover: #6D28D9;
$secondary-color: #1E293B;
$secondary-color-hover: #495057;
$text-color: #F8FAFC; // Light text for dark background
$background-color: #0F172A; // Dark charcoal background
$light-text-color: #adb5bd; // Lighter text for secondary elements
$card-background-color: #1E293B; // Slightly lighter dark background for cards
$border-color: #495057;
$transition-speed: 0.3s;

// Fonts
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-size-base: 1rem;
